# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# dossier de CLion
.idea/

# Fichiers de CMake
cmake-build-debug/
cmake_modules/
CMakeLists.txt
Doxyfile.in

# Dossier où est généré l'éxecutable
bin/

# machins de visual studio
.vs/

# Dossier solution VS
Schmou'TSE/
Schmou'tseur/
Schmou'tseur_gtkmm/

#ignorez des trucs que vous voulez
_dossier-pierre/_temp